<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dailyrics</title>
</head>
<body>
    <div id="player" class="center">
        <h1><span id="guesses">1</span>/6</h1>
        <div id="lyric-box-1" class="lyrics-box">{{song.lyrics.lyrics[song.lyrics.starting_point]}}</div>
        <div id="lyric-box-2" class="lyrics-box hidden">{{song.lyrics.lyrics[song.lyrics.starting_point+1]}}</div>
        <div id="lyric-box-3" class="lyrics-box hidden">{{song.lyrics.lyrics[song.lyrics.starting_point+2]}}</div>
        <div id="lyric-box-4" class="lyrics-box hidden">{{song.lyrics.lyrics[song.lyrics.starting_point+3]}}</div>
        <div id="lyric-box-5" class="lyrics-box hidden">{{song.lyrics.lyrics[song.lyrics.starting_point+4]}}</div>
        <div id="lyric-box-6" class="lyrics-box hidden">{{song.lyrics.lyrics[song.lyrics.starting_point+5]}}</div><br>
        <button onclick="nextLyric()">Next Lyric</button><br><br>
        <div class="autocomplete"><input type="text" placeholder="Guess" id="guess-input"></div>
        <button onclick="checkGuess()">Check Guess</button>
    </div>
</body>
</html>
<script>
let guessNumber = 1
let songs = {{all_songs|safe}}
let wrongGuesses = 0
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
autocomplete(document.getElementById("guess-input"), songs);

function nextLyric() {
    // reveal next lyric
    guessNumber++
    if (guessNumber > 6) {
        document.getElementById('player').innerHTML = `
        <h1>you lose</h1>
        <h3>the song was <strong>{{song.name}}</strong> by <strong>{{song.artist.name}}</strong></h3>
        <img src="{{song.lyrics.image_url}}" alt="{{song.name}}">
        `
    } else {
        let nextLyric = document.getElementById("lyric-box-" + guessNumber)
        nextLyric.classList.remove("hidden")
        // update guesses
        let guesses = document.getElementById("guesses")
        guesses.innerHTML = guessNumber
    }
}
function checkGuess() {
    // check guess
    let guess = document.getElementById("guess-input").value
    if (guess.toLowerCase() === "{{song.name|lower}}") {
        document.getElementById('player').innerHTML = `
        <h1>you win</h1>
        <h3>the song was <strong>{{song.name}}</strong> by <strong>{{song.artist.name}}</strong></h3>
        <h3>you got it in <strong>${guessNumber}</strong> lines</h3>
        <img src="{{song.lyrics.image_url}}" alt="{{song.name}}"><br>
        <button onClick="share()">Share</button>
        `
    } else {
      wrongGuesses++
    }
}
function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;
  
  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Fallback: Copying text command was ' + msg);
  } catch (err) {
    console.error('Fallback: Oops, unable to copy', err);
  }

  document.body.removeChild(textArea);
}
function copyTextToClipboard(text) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text);
    return;
  }
  navigator.clipboard.writeText(text).then(function() {
    console.log('Async: Copying to clipboard was successful!');
  }, function(err) {
    console.error('Async: Could not copy text: ', err);
  });
}
function share() {
  let text = `{{song.name}} by {{song.artist.name}} in ${guessNumber} guesses, with ${wrongGuesses} wrong guesses - https://dailyrics.sushipython.us`
  copyTextToClipboard(text)
}
</script>
<style>
.hidden {
    display: none;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#guesses {
  font-weight: bold;
}
h1, h3 {
    font-weight: normal;
}
.lyrics-box {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0;
}
img {
    height: 200px;
    width: 200px;
}
* { box-sizing: border-box; }
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>